body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,footer{
    background-color: rgb(10, 10, 10);
    color: white;
    text-align: center;
    padding: 1rem;
}

.team-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
}

.card{
    background-color: #f9f9f9;
    width: 200px;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgb(0,0,0,0.2);
    transition:transform .3s ease ;
}
.blue{
    color: rgb(76, 76, 247);
  } 
.button{
    color: white;
    background-color: rgb(76, 76, 247);
  } 

.card:hover{
   /* transform: translateX(-20px);
    transform: translateY(20px);*/
    transform: scale(1.1,1.1);
  /*  transform: rotate();*/
}