.form-group{
    margin-bottom: 5px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}
section{
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
    box-sizing: border-box;
}
.form-group label{
    font-weight: bold;
}
#v1,#v2{
    display: block;
    width: 100%;
    padding: 10px;
}
button{
    background-color: rgb(11,141,216);
    color: white;
    border-radius: 5px;
    padding: 20px;
    width: 5rem;
}