*{
    margin:0;
}
body{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 3fr 9fr;
    grid-auto-rows: 100vh;
}
.aside{
    border:1px solid rgb(17, 3, 59);
    background-color:rgb(12, 2, 58);
    color: rgb(253, 254, 255);
    padding:20px;
}
ul li{
     list-style: none;
     gap:60px;
     line-height: 3.6;   
}
.main-content{
     border:1px solid black;
    background-color:rgb(241, 243, 244) ;
}
.Cards{
    display: flex;
    gap:10px;
    justify-content: space-around;  
   
}
.card{   
    width:200px;
    height:50px;
    padding:30px;
    background-color: white;
    text-align: center;
    margin-bottom: 60px; 
    transition: 1.1s ease;   
}
.container h1{
    padding-bottom: 20px;
}
.card1{
    box-shadow: 0px 2px 4px;
}
.card2{
    box-shadow: 0px 2px 4px;
}
.card3{
    box-shadow: 0px 2px 4px;
}
.second{
    width:900px;
    height:200px;
    background-color: white;
    margin-top: 20px;
    margin-left: 50px;
    padding: 20px;
    justify-content: center;
    font-size: 25px;  
}
table{
    
    padding:10px;
    width:100%;
    margin-top: 10px;
    border-collapse: collapse;
}
.card:hover{
    transform: scale(1.2,1.2);
}